.dashboard__chart {
  flex: 4;
  box-shadow: var(--widgetShadow);
  -webkit-box-shadow: var(--widgetWebkitShadow);
  padding: 10px;
  color: var(--gray-color);

  .dashboard__chart__title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
  }

  .dashboard__chart__grid {
    stroke: var(--lightGray-color);
  }
}
