.dashboard__home {
  display: flex;

  .dashboard__home__container {
    flex: 6;
  }

  .home__widgets,
  .home__charts {
    display: flex;
    padding: 20px;
    gap: 20px;
  }

  .home__charts {
    padding: 5px 20px;
  }

  .dashboard__home__listContainer {
    box-shadow: var(--widgetShadow);
    -webkit-box-shadow: var(--widgetWebkitShadow);
    padding: 20px;
    margin: 20px;
    background-color: var(--widget-color);

    .dashboard__home__listContainer__listTitle {
      font-size: 16px;
      font-weight: 500;
      color: var(--gray-color);
      margin-bottom: 15px;
    }
  }
}
